#main-menu 
    .menu-item 
        a
            @apply cursor-pointer text-blockTextLight font-barlow text-[24px] md:text-[40px] font-bold uppercase
            &:hover
                @apply text-accent
            &:active
                @apply text-accent

body.archive
    #header-main
        .menu-label
            @apply font-barlow text-[14px] md:text-[18px] leading-[21px] md:leading-[27px] font-bold text-dark
        &.mega-menu-open
            .menu-label
                @apply text-background
        .menu-wrapper
            .wpml-ls-legacy-list-horizontal
                a
                    @apply px-[10px] py-0 text-dark
            .wpml-ls-statics-shortcode_actions
                @apply border-none px-0 pt-8
                ul
                    .wpml-ls-current-language
                        .wpml-ls-link
                            font-weight: 700 !important
                    .wpml-ls-item:not(.wpml-ls-first-item):not(.wpml-ls-last-item)
                        @apply border-x-2 border-accent
                    .wpml-ls-item
                        .wpml-ls-link
                            @apply font-barlow font-light text-[20px] text-dark tracking-[0.4px] leading-[20px] uppercase transition-all duration-500 ease-out flex

#header-main
    @apply absolute bg-transparent transition-colors duration-100 ease-in
    .menu-label
        @apply font-barlow text-[14px] md:text-[18px] leading-[21px] md:leading-[27px] font-bold text-background
    .menu-toggle
        @apply flex items-center gap-x-4
        &__text
            @apply text-accent font-barlow text-[16px] uppercase font-[500] leading-none tracking-[0.32px] transition-all duration-500 ease-out hidden invisible xl:block xl:visible
        &__bars
            @apply relative flex flex-col justify-center items-center overflow-hidden w-[38px] h-[38px]
            .bar
                @apply block w-[38px] h-[2px] bg-accent rounded-full transition-all duration-500 ease-out
                &:not(:last-child)
                    @apply mb-[13px] // spacing between bars
            // Spacing: 13px total → 6.5px between each bar
            & .bar--top
                @apply translate-y-0 rotate-0 mb-[6.5px]
            & .bar--middle
                @apply translate-y-0 rotate-0 mb-[6.5px]
            & .bar--bottom
                @apply translate-y-0 rotate-0
        &-wrapper
            @apply xl:mr-5
    .header-wrapper
        .wpml-ls-legacy-list-horizontal
            .wpml-ls-item
                @apply text-background text-sm uppercase font-barlow font-semibold tracking-[0.14px]
            .wpml-ls-link
                @apply transition-all duration-300 ease-out hover:underline
            .wpml-ls-current-language
                .wpml-ls-link
                    @apply font-bold
        .wpml-ls-statics-shortcode_actions
            @apply border-none p-0
            ul
                .wpml-ls-current-language
                    .wpml-ls-link
                        font-weight: 700 !important
                .wpml-ls-item
                    .wpml-ls-link
                        @apply block-text-bold text-background uppercase transition-all duration-500 ease-out flex
    .menu-wrapper
        .wpml-ls-legacy-list-horizontal
            a
                @apply px-[10px] py-0
        .wpml-ls-statics-shortcode_actions
            @apply border-none px-0 pt-8
            ul
                .wpml-ls-current-language
                    .wpml-ls-link
                        font-weight: 700 !important
                .wpml-ls-item:not(.wpml-ls-first-item):not(.wpml-ls-last-item)
                    @apply border-x-2 border-accent
                .wpml-ls-item
                    .wpml-ls-link
                        @apply font-barlow font-light text-[20px] text-accent tracking-[0.4px] leading-[20px] uppercase transition-all duration-500 ease-out flex

    #menu-main-menu
        @apply w-full invisible hidden xl:block xl:visible
        li.menu-item
            @apply transition-all duration-500 ease-in-out translate-y-0
            a
                @apply font-barlowSemiCondensed text-blockTextLight text-[24px] md:text-[40px] font-bold not-italic uppercase transition-all duration-300 ease-in-out relative
                &::hover
                    @apply text-accent
        li.menu-item.current-menu-item,
        li.menu-item.current-page-ancestor
            a
                @apply text-accent
        
/*Mega Menu*/
#header-main.sticky
    @apply drop-shadow-[0_2px_2px_rgba(0,0,0,0.06)]

    nav.navigation-main
        @apply py-8 xl:py-6
    .mega-menu-wrapper
        @apply xl:top-[76px]

#header-main.mega-menu-open
    @apply bg-dark
    nav.navigation-main
        #menu-main-menu
            li.menu-item
                @apply translate-y-6 opacity-0 invisible
    .mega-menu-wrapper
        @apply visible h-[var(--element-height)]
    .menu-toggle__bars
        .bar--top
             @apply translate-y-[15px] rotate-45
        .bar--middle
            @apply opacity-0
        .bar--bottom
            @apply -translate-y-[15px] -rotate-45

#header-main.mega-menu-open.sticky
    @apply filter-none